* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
body{
    background-color: rgb(125, 55, 20);
}
header {
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 40px;
}
ul li {
    display: inline-block;
}
ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li a:hover {
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.container {
    position: relative;
    top: 10%;
    left: 30%;
    width: 800px;
}
.container h1 {
    text-align: center;
    border-bottom: 1px solid chartreuse;
}
.container div.user {
    background-color: rgba(5, 163, 184, 0.8);
    border: 2px solid rgb(100, 20, 20);
    padding: 5px 20px;
    margin-bottom: 15px;
}
.container h2 {
    padding: 15px;
    position: relative;
}
.container img {
    position: absolute;
    top: 14%;
    right: 40px;
}