* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header {
    background-image:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 40px;
}
ul li {
    display: inline-block;
}
ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li a:hover {
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.author{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
.author h1{
    color: #fff;
    font-size: 70px;
    
}
.button {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.button a{
    color: #fff;
    font-size: 50px;
    
}